
.obaWindowStyle {
  @apply !absolute;
  @apply transition-shadow duration-75 relative;
  @apply border border-base-content/50;
  @apply shadow-sm;
  @apply rounded-t-md rounded-b-none;
  @apply grid;
  @apply box-content;
  @apply !bg-base-200/75;
  @apply text-current;
  @apply backdrop-blur;

  grid-template-rows: 30px 1fr;
  font-size: 12px;
  font: inherit;

  .toolbar {
    @apply !bg-transparent;
    @apply flex items-center select-none;
    padding-left: 4px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px;

    @apply text-current;

    > .title {
      @apply shrink text-ellipsis;
    }
  }

  > .window-content {
    @apply absolute inset-0 mt-[30px];
  }

  .icon {
    width: 16px;
    height: 16px;
    @apply mx-2;
    background-size: cover;
    justify-self: center;
  }

  .buttons {
    @apply h-full ms-auto flex;
  }

  .button {
    width: 46.6px;
    font-size: 14px;
    cursor: default;
    @apply h-full flex items-center justify-center;
  }

  .button:hover {
    background: #858585;
  }

  .button:active {
    background: #5f5f5f;
  }

  .close:hover {
    background: #e81123;
  }

  .close:active {
    background: #8b0a14;
  }

}

.obaWindowStyle.active {
  @apply backdrop-blur-lg;
  @apply border border-neutral/50;
  @apply !bg-base-200/90;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
}